.header {
    padding: 20px;
}

.row {
    padding-top: 15px;
}

#dropdownMenuButton {
    width: 160px;
}

th {
    width: 200px;
}

.btn {
    width: 400px;
}

.students {
    cursor: pointer;
}

.students tr.selected:hover {
    background-color:#949393 !important;
    color: rgb(29, 28, 28);
  }

 