<div class="row">

  <div class="col-md-12">
    <h3 class="header text-muted text-center"> Search Students </h3>
  </div>

  <div class="col-md-5 box">

    <h3 class="text-muted text-center mb-3 mt-2 txt"> Filter By </h3>
    <div class="row text-muted">
      <div class="col-md-1"></div>
      <div class="col-md-4"> Gender </div>
      <div class="col-md-7 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> Select Gender
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" >
          <li>
            <a (click)="filterByGender('Female')">Female</a>
          </li>
          <li>
            <a (click)="filterByGender('Male')">Male</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-7">
        <button (click)="filterByGender(null)" *ngIf="this.genderFilter$.getValue()">
            <i class="fa fa-times" aria-hidden="true"></i>
          <em> {{gender}}</em>
        </button>
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-1"></div>
      <div class="col-md-4"> Race </div>
      <div class="col-md-7 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> Select Race
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" >
          <li>
            <a (click)="filterByRace('White')">White</a>
          </li>
          <li>
            <a (click)="filterByRace('Black')">Black</a>
          </li>
          <li>
            <a (click)="filterByRace('Asian')">Asian</a>
          </li>
          <li>
            <a (click)="filterByRace('Hispanic')">Hispanic</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class= "col-md-7">
      <button (click)="filterByRace(null)" *ngIf="this.raceFilter$.getValue()">
          <i class="fa fa-times" aria-hidden="true"></i>
        <em> {{ race }} </em>
      </button>
    </div>
    </div>


    <div class="row text-muted">
      <div class= "col-md-1"></div>
      <div class="col-md-4"> Nationality </div>
      <div class="col-md-7 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Select Nationality
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li>
            <a (click)="filterByNationality('US')">US </a>
          </li>
          <li>
            <a (click)="filterByNationality('South African')"> South African</a>
          </li>
          <li>
            <a (click)="filterByNationality('Mozambique')">Mozambique</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class= "col-md-7">
      <button type="button" (click)="filterByNationality(null)" *ngIf="this.nationalityFilter$.getValue()">
          <i class="fa fa-times" aria-hidden="true"></i>
        <em> {{ nationality }}</em>
      </button>
    </div>
    </div>



  </div>



  <div class="col-md-7 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt"> Search Results </h3>

    <table class="table bg-light text-center table-responsive table-striped" *ngIf="userDemographics$ | async; let userDemographics; else loading">
      <thead>
        <tr class="text-muted">
          <th> Race </th>
          <th> Gender </th>
          <th> Nationality </th>
        </tr>
      </thead>
      <tbody class="students">

        <tr *ngFor="let user of userDemographics" class="selected">
          <td> {{ user.race }} </td>
          <td> {{ user.gender }} </td>
          <td> {{ user.nationality}} </td>
        </tr>

        <ng-template #loading>Loading&hellip;</ng-template>

      </tbody>

      <div class="p-2" *ngIf="userDemographics.length === 0"> No results, try clearing filters </div>
    </table>

  </div>

</div>
