<div class="row">

  <div class="col-md-12">
    <h3 class="header text-muted text-center"> Search Students </h3>
  </div>

  <div class="col-md-5 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt"> Filter By </h3>


    <div class="row text-muted">
      <div class="col-md-5"> Gender </div>
      <div class="col-md-6 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> Select Gender
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li>
            <a (click)="filterByGender('Female')">Female</a>
          </li>
          <li>
            <a (click)="filterByGender('Male')">Male</a>
          </li>
          <li>
            <a (click)="filterByGender(null)" *ngIf="this.genderFilter$.getValue()">
              <em>clear filter</em>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-5"> Race </div>
      <div class="col-md-6 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> Select Race
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li>
            <a (click)="filterByRace('White')">White</a>
          </li>
          <li>
            <a (click)="filterByRace('Black')">Black</a>
          </li>
          <li>
            <a (click)="filterByRace('Asian')">Asian</a>
          </li>
          <li>
            <a (click)="filterByRace('Hispanic')">Hispanic</a>
          </li>
          <li>
            <a (click)="filterByRace(null)" *ngIf="this.raceFilter$.getValue()">
              <em>clear filter</em>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <div class="row text-muted">
      <div class="col-md-5"> Nationality </div>
      <div class="col-md-6 btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">Select Nationality
          <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li>
            <a (click)="filterByNationality('US')"> US</a>
          </li>
          <li>
            <a (click)="filterByNationality('South African')"> South African</a>
          </li>
          <li>
            <a (click)="filterByNationality('Mozambique')">Mozambique</a>
          </li>
          <li>
            <a (click)="filterByNationality(null)" *ngIf="this.nationalityFilter$.getValue()">
              <em>clear filter</em>
            </a>
          </li>
        </ul>
      </div>
    </div>



  </div>



  <div class="col-md-7 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt"> Search Results </h3>

    <table class="table bg-light text-center table-responsive table-striped" *ngIf="userDemographics$ | async; let userDemographics; else loading">
      <thead>
        <tr class="text-muted">
          <th> Race </th>
          <th> Gender </th>
          <th> Nationality </th>
        </tr>
      </thead>
      <tbody class="applicants">

        <tr *ngFor="let userDemographic of userDemographics" class="selected">
          <td> {{ userDemographic.race }} </td>
          <td> {{ userDemographic.gender }} </td>
          <td> {{ userDemographic.nationality}} </td>
        </tr>

        <ng-template #loading>Loading&hellip;</ng-template>

      </tbody>

      <div class="p-2" *ngIf="userDemographics.length === 0"> No results, try clearing filters </div>
    </table>

  </div>


</div>


<!--
    <div class="row text-muted">
      <div class="col-md-6"> Gender </div>
      <div class="col-md-4 dropdown">
        <select class="custom-select" id="dropdownMenuButton" [(ngModel)]="gender">
          <option selected> {{ gender }} </option>
          <option value="female"> Female</option>
          <option value="male"> Male</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-6"> Matriculation Year </div>
      <div class="col-md-4 dropdown">
        <select class="custom-select" id="dropdownMenuButton" [(ngModel)]="matriculationYear">
          <option selected> {{ matriculationYear }} </option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
        </select>
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-6"> Race </div>
      <div class="col-md-4 dropdown">
        <select class="custom-select" id="dropdownMenuButton" [(ngModel)]="race">
          <option selected> {{ race }} </option>
          <option value="asian">Asian</option>
          <option value="hispanic">Hispanic/Latino</option>
          <option value="pacific islander">Pacific Islander</option>
          <option value="white">White</option>
          <option value="black">Black</option>
        </select>
      </div>
    </div>

  -->