<div class="row mt-2">
  <div class="col-md-6">
    <a routerLink="/bursaries" class="btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Bursaries
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <button type= "button" routerLink="/bursary/edit/{{bursaryId}}" class="btn btn-link" >
        Edit
      </button>
      <button class="btn btn-link" data-toggle="modal" data-target="#cancelModal"
      routerLink="/bursary/delete/{{bursaryId}}">Delete</button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 box">
    <div class="card">
      <h3 class="mb-3 mt-2 txt" *ngIf="bursary">  {{bursary.title}}</h3>

      <div class="module bursary">

        <div class="row">
          <h5>Degrees</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Degree Display</div>
          </div>
        </div>

        <div class="row">
          <h5>Institutions</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Institutions Display</div>
          </div>
        </div>

        <div class="row">
          <h5>Criteria</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Criteria Display</div>
          </div>
        </div>

        <div class="row">
          <h5>Dates</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Dates Display</div>
          </div>
        </div>

        <div class="row">
          <h5>Positions Available</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Positions Available Display</div>
          </div>
        </div>

        <div class="row">
          <h5>Requirements</h5>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Requirements Display</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
