<div class="row mt-2">
  <div class="col-md-6">
    <a routerLink="/bursaries" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Bursaries
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/bursary/edit/{{bursaryId}}" class="btn btn-dark">
        Edit
      </a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>

  <div *ngIf="bursary">
     {{bursary.description}}
  </div>
</div>
