<div class="row">
  <div class="col-md-12 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt">Manage Bursaries</h3>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div class="row text-muted">
          <div class="col-md-3 dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"> Order By
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
              <li>
                <a (click)="filterByTitle('title')">Bursary Title</a>
              </li>
              <li>
                <a (click)="filterByDate('date')">Closing Date</a>
              </li>
            </ul>
          </div>
        </div>

        <table class="table bg-light text-center table-responsive table-striped" *ngIf="Bursaries$ | async; let bursaries; else loading">
          <thead>
            <tr class="text-muted">
              <th>Title</th>
              <th>Closing Date</th>
              <th> Preview </th>
              <th> Options</th>
            </tr>
          </thead>
          <tbody class="bursaries">
            <tr *ngFor="let bursary of bursaries" routerLink="/bursary/edit/{{bursary.bursaryId}}">
              <td> {{ bursary.title }} </td>
              <td> {{ bursary.closingDate.toDate() | date: 'dd/MM/yyyy' }} </td>
              <td>
                <button class="btn btn-secondary btn-sm button" routerLink="/bursary/{{bursary.bursaryId}}"> Preview </button>
              </td>
              <td>
                <button class="btn btn-success btn-sm button">Close Applications</button>
                <button class="btn-danger btn-sm button" data-toggle="modal" data-target="#cancelModal" routerLink="/bursary/delete/{{bursary.bursaryId}}">Delete Bursary </button>
              </td>
            </tr>
            <ng-template #loading>Loading&hellip;</ng-template>
          </tbody>
        </table>





      </div>
    </div>
  </div>

  <div class="col-md-3 ">
    <div class="card border-success">
      <div class="card-body">
        <a routerLink="/bursary/add" class="btn btn-success btn-block text-center">
          <i class="fa fa-plus"></i> Add New
        </a>
      </div>
    </div>
  </div>
</div>