<div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
    <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 bottom-border mb-4">Zelda Learning</a>
    <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item">
            <a routerLink="/" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/bursaries" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-pencil text-light fa-lg mr-3"></i>Bursaries
            </a>
        </li>

        <li class="nav-item side">
            <a routerLink="/applications" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-user text-light fa-lg mr-3"></i>Applicants
            </a>
        </li>

    </ul>
</div>