<div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
    <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 bottom-border mb-4">Company Portal</a>
    <div class="bottom-border pb-3">
        <img src="assets/img/admin.jpeg" width="50" class="rounded-circle mr-3">
        <a routerLink="/profile" class="text-white" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}"> Tiro Modibedi
         </a>
    </div>
    <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home text-light fa-lg mr-3"></i>Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/bursaries" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-pencil text-light fa-lg mr-3"></i>Bursaries
            </a>
        </li>

        <li class="nav-item side">
            <a routerLink="/applicants" class="nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-user text-light fa-lg mr-3"></i>Applicants
            </a>
        </li>

        <li class= "nav-item">
            <a routerLink= "/search" class= "nav-link text-white p-3 mb-2 sidebar-link" [routerLinkActive]="['current']" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-search text-light fa-lg mr-3"></i>Search 
        </a>
        </li>

    </ul>
</div>