.sidebar {
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.63)), url(../../../../assets/img/sidebar-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: rgb(117, 113, 113);
    border-radius: 5px;
}

.current {
    background-color: #03837c;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #111;
}

.current:hover {
    background-color: #06b9b0;
    border-radius: 5px;
    box-shadow: 2px 5px 20px #111;
    transform: translateX(-1px);
}
