<div class="col-xl-10 col-lg-9 col-md-8 ml-auto fixed-top py-0 top-navbar">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h4 class="text-light text-uppercase mb-0 txt">Dashboard</h4>
    </div>
    <div class="col-md-6">
      <ul class="navbar nav">
        <!-- <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-comments text-muted fa-lg"></i>
          </a>
        </li>
  
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-bell text-muted fa-lg"></i>
          </a>
        </li> -->
  
        <li class="nav-item ml-md-auto">
          <a href="#" (click)="onLogoutClick()" class="nav-link">
            <i class="fa fa-sign-out fa-lg text-danger mr-2"></i> <span class="text-white txt">Logout</span>
          </a>
        </li>
  
      </ul>
    </div>
  </div>
</div>

