<div class="row">
    <div class="col-md-6">
        <a routerLink="/applicants" class="btn-link">
            <i class="fa fa-arrow-circle-o-left"></i> Back to Applicants
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Application Form A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Application Form B</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Application Form C</a>
            </li>
        </ul>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <!-- APPLICATION FORM A -->
    <div id="home" class="container tab-pane active">
        <br>
        <h3>PERSONAL DETAILS</h3>

        <table class="table">
            <tbody>
                <tr>
                    <td colspan="1">
                        <form class="well form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">First Name</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="firstName" name="firstName" placeholder="First Name" class="form-control" value="" type="text"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Last Name</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="lastName" name="lastName" placeholder="Last Name" class="form-control" value=""type="text"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Native Language</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="language" name="language" placeholder="language" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date of Birth</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="dob" name="dob" placeholder="mm/dd/yyyy" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Place of Birth</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="birthplace" name="birthplace" placeholder="mm/dd/yyyy" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Gender</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="gender" name="gender" placeholder="Female" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Marital Status</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="matric" name="matric" placeholder="mm/dd/yyyy" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Race</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="race" name="race" placeholder="race" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Citizenship</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="citizen" name="citizen" placeholder="citizen?" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </td>
                    <td colspan="1">

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- APPLICATION FORM B -->
    <div id="menu1" class="container tab-pane fade">
        <br>
        <h3>SCHOOL QUALIFICATIONS</h3>
        <table class="table">
            <tbody>
                <tr>
                    <td colspan="1">
                        <form class="well form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Name of School</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="firstName" name="firstName" placeholder="First Name" class="form-control" value="" type="text"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">School Address</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="schoolAddress" name="schoolAddress" placeholder="address" class="form-control" value="" type="text"
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">School Telephone Number</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="schoolPhone" name="schoolPhone" placeholder="####" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-md-4 control-label">Matriculation Year</label>
                                        <div class="col-md-8 inputGroupContainer">
                                            <div class="input-group">
                                                <input id="matric" name="matric" placeholder="mm/dd/yyyy" class="form-control" value="" type="text" readonly>
                                            </div>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Subjects</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="subjects" name="subjects" placeholder="subjects?" class="form-control" value="" type="text" readonly>
                                        </div>
                                    </div>
                                </div>
                               
                               
                            </fieldset>
                        </form>
                    </td>
                    <td colspan="1">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- APPLICATION FORM 3-->
    <div id="menu2" class="container tab-pane fade">
        <br>
        <h3>PROPOSED/CURRENT STUDIES</h3>
    </div>
</div>