<div class="row">

  <div class="col-12">
    <div class="col-md-6 p-2">
      <a routerLink="/bursaries" class="btn-link">
        <i class="fa fa-arrow-circle-o-left"></i> Back to Bursaries
      </a>
    </div>
    <h2 class="text-center"> Edit Bursary</h2>
  </div>

</div>

<div class="container">
  <hr>
  <div class="row">


    <!-- edit form column -->
    <div class="col-md-9 personal-info" *ngIf="bursary">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a>
        <i class="fa fa-coffee"></i>
        This is an
        <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
      <h3>Bursary info</h3>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Bursary Title:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value={{bursary.title}}>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Bursary Url:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value={{bursary.bursaryUrl}}>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Closing Date</label>
          <div class="col-lg-8">
            <input class="form-control" type="date" value={{bursary.closingDate.toDate()}}>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Requirements:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Applicable Fields:</label>
          <div class= "col-lg-8">
              <angular2-multiselect name="applicableFields" [data]="applicableFieldsOptions" [(ngModel)]="bursary.applicableFields" [settings]="dropdownSettings">
              </angular2-multiselect>
            </div>
          
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Support Provided:</label>
          <div class="col-lg-8">
            <input class="form-control" type="text" value="">
          </div>
        </div>




        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input type="button" class="btn btn-default" value="Save Changes">
            <span></span>
            <input type="reset" class="btn btn-default" value="Cancel">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>