<div class="row mb-5">
  <div class="col-sm-6 col-xl-3 p-2">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="d-flex justify-content-between">
          <i class="fa fa-shopping-cart fa-3x text-warning"></i>
          <div class="text-right text-secondary">
            <h5>Sales</h5>
            <h3>$135000</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fa fa-sync mr-3"></i>
        <span>Updated Now</span>
      </div>
    </div>
  </div>
</div>