<div class="row">
  <div class="col-md-6">
    <a routerLink="/bursaries" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Bursaries
    </a>
  </div>
  <div class="col-md-6">
    <!-- Put something in here later -->
  </div>
</div>

<div class="col-12">
  <h3 class="text-muted text-center mb-3 mt-2 well">Upload a new Bursary</h3>
</div>

<div class="card card-style">
  <div class="card-body">
    <form #bursaryForm="ngForm" (ngSubmit)="onSubmit(bursaryForm)" >
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" #bursaryTitle="ngModel" minlength="2" required
            [(ngModel)]="bursary.title" [ngClass]=" {'is-invalid': bursaryTitle.errors && bursaryTitle.touched } ">
            <div class="invalid-feedback" [hidden]="!bursaryTitle.errors?.required" >
              Title is required
            </div>
            <div class="invalid-feedback" [hidden]="!bursaryTitle.errors?.minlength" >
              Must be at least 2 characters
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Bursary Link</label>
            <input type="text" class="form-control" name="bursaryUrl" [(ngModel)]="bursary.bursaryUrl" >
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Closing Date</label>
            <input
              name="closingDate"
              placeholder="Date Time:"
              [(ngModel)]="bursary.closingDate"
              [owlDateTimeTrigger]="dt"
              [owlDateTime]="dt"
              class="form-control">
              <owl-date-time [pickerMode]="'dialog'" #dt></owl-date-time>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Fields</label>
            <div class="form-control">
              <angular2-multiselect
                name="fields"
                [data]="fieldsOptions"
                [(ngModel)]="bursary.fields"
                [settings]="dropdownSettings"
              >
              </angular2-multiselect>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Applicable Fields</label>
            <div class="form-control">
              <angular2-multiselect
                name="applicableFields"
                [data]="applicableFieldsOptions"
                [(ngModel)]="bursary.applicableFields"
                [settings]="dropdownSettings"
              >
              </angular2-multiselect>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <div class="form-control">
          <ckeditor [config]="{extraPlugins: 'divarea'}" [(ngModel)]="bursary.description" name="description">
          </ckeditor>
        </div>
      </div>

      <div class="form-group">
        <label>Application Process</label>
        <div class="form-control">
          <ckeditor [config]="{uiColor: '#c0c0c0', extraPlugins: 'divarea'}" [(ngModel)]="bursary.applicationProcess" name="applicationProcess">
          </ckeditor>
        </div>
      </div>

      <div class="form-group">
        <label>Requirements</label>
        <div class="form-control">
          <ckeditor [config]="{uiColor: '#c0c0c0', extraPlugins: 'divarea'}" [(ngModel)]="bursary.requirements" name="requirements">
          </ckeditor>
        </div>
      </div>
      
      <div class="form-group">
        <label>Support Provided</label>
        <div class="form-control">
          <ckeditor [config]="{uiColor: '#c0c0c0', extraPlugins: 'divarea'}" [(ngModel)]="bursary.supportProvided" name="supportProvided">
          </ckeditor>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
  </div>
</div>