<div class="row">
  <div class="col-md-6 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt"> Profile</h3>
  </div>
  <div class="col-md-6 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt"> Company Preview </h3>
  </div>

  <div class="col-md-6 box">
    <div class="row text-muted">
      <div class="col-md-4"> Company Name </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input [(ngModel)]="companyName" placeholder="company name">
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-4"> Locations</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input [(ngModel)]="locations" placeholder="locations">
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-6"> Industries </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input [(ngModel)]="industries" placeholder="industries">
      </div>
    </div>

    <div class="row text-muted">
      <div class="col-md-6"> Company Photo </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <input type="file" (change)="onFileSelected($event)">
        <button type="button" class= "btn btn-outline-primary btn-sm" (click)="onUpload()"> Upload </button>
      </div>
    </div>

    <div class="row text-muted">
      <form #descriptionForm="ngForm" (ngSubmit)="onSubmit(descriptionForm)">
        <div class="form-group">
          <label class="text-muted">About Your Company</label>
          <div class="form-control">
            <ckeditor [config]="{extraPlugins: 'divarea'}" [(ngModel)]="description" placeholder="description">
            </ckeditor>
          </div>
        </div>
      </form>
    </div>


    <div class="row" id="btnrow">
      <div class="col">
        <button type="button" class="btn btn-outline-danger"> Discard </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-outline-success "> Save
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-6 box">
    <div class="card" *ngIf="companyName">

      <h3 class="text-center"> {{companyName}} </h3>

      <div class="module applicant">

        <div class="grid grid-pad">


          <div class="row">
            <div class="col-md"> Locations </div>
          </div>
          <div class="row">
            <div class="col-md-12"> {{ locations }}</div>
          </div>

          <div class="row">
            <div class="col-md"> Industries </div>
          </div>
          <div class="row">
            <div class="col-md-12"> {{ industries }} </div>
          </div>

          <div class="row">
            <div class="col-md"> Description </div>
          </div>
          <div class="row">
            <div class="col-md-12"> {{ description }} </div>
          </div>

        </div>

      </div>
    </div>





  </div>