.row {
    padding: 5px;
    font-size: 14pt;
}

.text-center {
    padding: 10px;
}


.row {
    padding-top: 10px;
   
}

.col-md-12 {
    background-color: white;
    padding: 10px;
}

.module {
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(43, 43, 43);
  max-height: 1000px;
  min-height: 600px;
  min-width: 50px;
  background-color: #949393;
  border-radius: 2px;
}


#save {
    color: green;
    cursor: pointer;
    padding: 10px;
}

#discard {
    color: red;
    cursor: pointer;
    padding: 10px;
}

