<div class="row">
  <div class="col-md-12 box">
    <h3 class="text-muted text-center mb-3 mt-2 txt">Manage Applicants</h3>
  </div>


  <table class="table text-center table-responsive table-striped">
    <thead class="bg-dark text-light">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Race</th>
        <th>Nationality</th>
        <th>Marks</th>
        <th>Date Applied</th>
        <th>Details</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody *ngFor="let applicant of applicants" (click)="showInfo(applicant)" class="applicants">
      <tr>
        <td>
          <div class="ckbox">
            <input type="checkbox" class="custom-control-input" id="checkbox1">
            <label for="checkbox1"></label>
          </div>
        </td>
        <td>
          <a href="#" class="star">
            <i class="glyphicon glyphicon-star"></i>
          </a>
        </td>
        <td>
          <div class="media">
            <a class="pull-left">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
            </a>
          </div>
        </td>
        <td> {{ applicant.firstName }}</td>
        <td> {{ applicant.lastName }} </td>
        <td> {{ applicant.gender }}</td>
        <td> {{ applicant.race }}</td>
        <td> {{ applicant.nationality }}</td>
        <td> {{ applicant.marks }}</td>
        <td> {{ applicant.dateApplied.toDate() | date: 'dd/MM/yyyy' }}</td>
        <td>
          <a routerLink="/applicant/{{applicant.applicantId}}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-circle-o-right mr-1"></i>More Details
          </a>
        </td>
        <td>
          <button class="btn btn-success" type="button">Accept</button>
          <button class="btn btn-warning" type="button">Pending</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="ckbox">
            <input type="checkbox" class="custom-control-input" id="checkbox2">
            <label for="checkbox2"></label>
          </div>
        </td>
        <td>
          <a href="#" class="star">
            <i class="glyphicon glyphicon-star"></i>
          </a>
        </td>
        <td>
          <div class="media">
            <a class="pull-left">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
            </a>
          </div>
        </td>
        <td> Nelson </td>
        <td> Mandela </td>
        <td> Male </td>
        <td> Black </td>
        <td> South African</td>
        <td> 100% </td>
        <td> 8/8/2018 </td>
        <td>
          <a routerLink="/applicants/{{applicant.applicantId}}" class="btn btn-secondary btn-sm">
            <i class="fa fa-arrow-circle-o-right mr-1"></i>More Details
          </a>
        </td>
        <td>
          <button class="btn btn-success" type="button">Accept</button>
          <button class="btn btn-warning" type="button">Pending</button>
          <button class="btn btn-danger" type="button">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>