#accept {
    color: green;
    cursor: pointer;
}

#decline {
    color: red;
    cursor: pointer;
}

.applicants {
    cursor: pointer;
}

.applicants tr.selected:hover {
    background-color:#949393 !important;
    color: rgb(29, 28, 28);
  }
  
.places tr:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

  .info {
      width: 150px;
      background-color: white;
      padding: 10px;
  }

  .row {
      padding-top: 10px;
     
  }

  .col-md-12 {
      background-color: white;
      padding: 10px;
  }

  .module {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
    color: rgb(43, 43, 43);
    max-height: 1000px;
    min-height: 600px;
    min-width: 50px;
    background-color: #949393;
    border-radius: 2px;
  }
