<div class="row">
  <div class="col-md-6">
    <a routerLink="/bursaries" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Bursaries
    </a>
  </div>
  <div class="col-md-6">
    <!-- Put something in here later -->
  </div>
</div>

<div class="col-12">
  <h3 class="text-muted text-center mb-3 mt-2 well">Upload a new Bursary</h3>
</div>
<form>
  <div class="row">
    <div class="col-md-6 ml-auto">
      <div class="card border-secondary">
        <div class="card-header">
          Section 1
        </div>
        <div class="card body">
          <div class="form-group">
            <label>Page Body</label>
            <textarea name="editor1" class="form-control" placeholder="Page Body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                              </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mr-auto">
      <div class="card border-secondary ">
        <div class="card-header">
          Section 2
        </div>
      </div>
    </div>
  </div>

</form>

<script>
  CKEDITOR.replace('editor1');
</script>