/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
    font-family: 'Montserrat', sans-serif!important;
    background: #eee;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.box {
    border: 1px red dotted;
}
